$button-padding: 5px;
#actions {
  .action-button {
    text-align: center;
    color: black;
    background-color: teal;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.5em;
    padding: $button-padding;
  }
}
