$plain-blue: rgb(32,121,206);
$carribean-blue: #249ECC;
$green-teal: #58FFD2;
$blood-orange: #FF4634;
$blood-red: #CC0A33;
$eggshell-blue: #F5FFFF;
$shadow-level-1: rgba(0,0,0,0.498039) 0px 2px 5px;
$shadow-level-2: rgba(0,0,0,0.398039) 0px 1px 5px;
$shadow-level-3: rgba(0,0,0,0.198039) 0px 1px 5px;
$glowing-green: #19E92A;
$weak-text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
