#stats {
  border: 1px solid black;
  margin: auto;
  height: 100px;
  margin-bottom: 10px;
}

#title {
  margin-bottom: 10px;
  border: 1px solid black;
}

#inventory {
  border: 1px solid black;
  height: 200px;
}
