$info-page-width: 200px;
$action-page-width: 200px;
$message-page-height: 100px;
$message-page-width: 400px;
$padding: 20px;
$dialogue-width: 400px;

#info-page, #action-page, #mode-page, #message-page {
  margin: none;
  position: absolute;
}

#info-page, #action-page, #mode-page {
  top: $padding;
}

#message-page {
  left: $info-page-width + 2 * $padding;
  bottom: $padding;
  height: $message-page-height;
  width: $message-page-width;
  border: 1px solid black;
  overflow-y: scroll;
}

#info-page {
  left: $padding;
  width: $info-page-width;
}
#action-page {
  left: $info-page-width + 2 * $padding;
  width: $action-page-width;
}

#mode-page {
  left: $info-page-width + $action-page-width + 3 * $padding;
  width: $action-page-width;
}

