#info-page, #action-page, #mode-page, #message-page {
  margin: none;
  position: absolute; }

#info-page, #action-page, #mode-page {
  top: 20px; }

#message-page {
  left: 240px;
  bottom: 20px;
  height: 100px;
  width: 400px;
  border: 1px solid black;
  overflow-y: scroll; }

#info-page {
  left: 20px;
  width: 200px; }

#action-page {
  left: 240px;
  width: 200px; }

#mode-page {
  left: 460px;
  width: 200px; }

/* some style */
#map {
  font-family: 'Arial';
  position: relative; }

#map::-webkit-scrollbar {
  display: none; }

.row {
  position: absolute; }

.cell {
  top: 0px;
  font-size: 8px;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0); }

#map-view {
  position: relative; }
  #map-view canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  #map-view > canvas {
    z-index: 20; }

#stats {
  border: 1px solid black;
  margin: auto;
  height: 100px;
  margin-bottom: 10px; }

#title {
  margin-bottom: 10px;
  border: 1px solid black; }

#inventory {
  border: 1px solid black;
  height: 200px; }

#actions .action-button {
  text-align: center;
  color: black;
  font-weight: bold; }
  #actions .action-button .polymer-button {
    background-color: teal; }

.polymer-button {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  position: relative;
  display: inline-flex;
  border-radius: .2em;
  margin: 0 0 .2em;
  height: 1.2em;
  line-height: 1.2em;
  font-size: 1em;
  vertical-align: middle;
  padding: .3em 1em .5em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-select: none;
  text-align: center;
  background-color: #cecece;
  font-family: Helvetica;
  overflow: hidden;
  transition: all .1s ease 0.1s;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26), 0 2px 1px 0 rgba(0, 0, 0, 0.16), inset 0 -0.2em rgba(0, 0, 0, 0.3); }
  .polymer-button:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.26), 0 0 0 0 rgba(0, 0, 0, 0.16), inset 0 -0.1em rgba(0, 0, 0, 0.3);
    margin: .1em 0 .2em;
    padding: .3em 1em .4em;
    transition: all .1s ease; }
  .polymer-button:active {
    margin: .2em 0 .2em;
    padding: .3em 1em .3em;
    box-shadow: inset 0 0.1em 0.1em rgba(0, 0, 0, 0.3); }
  .polymer-button span {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 6; }
  .polymer-button .ripple {
    z-index: 5;
    position: absolute;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
    transition: background, height, width, margin;
    transition-duration: 0.1s;
    border-radius: 9900px; }

.message-list {
  margin: 0;
  list-style: none; }

.message {
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex; }
  .message .message-content {
    align-self: flex-end; }

.slide-down-enter {
  max-height: 0;
  transition: max-height .5s ease-in; }

.slide-down-enter.slide-down-enter-active {
  max-height: 80px; }

.slider {
  display: flex; }
  .slider .item {
    max-width: 0px;
    overflow: hidden;
    transition: 0.4s all ease-in; }
  .slider .item.active {
    max-width: 200px; }

#dialogue-box {
  position: absolute;
  border-radius: 3px;
  background-color: white;
  left: 50%;
  top: 20%;
  margin-left: -200px;
  width: 400px;
  z-index: 244;
  box-shadow: rgba(0, 0, 0, 0.49804) 0px 2px 5px;
  padding: 10px; }
  #dialogue-box h4 {
    margin: 0; }
  #dialogue-box p {
    margin: 3px; }

.blur-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 234; }

.zoom-in-enter {
  position: fixed;
  margin-top: -500px;
  left: 0;
  transition: all 0.3s ease-out; }

.zoom-in-enter.zoom-in-enter-active {
  margin-top: 0; }

.zoom-in-leave {
  opacity: 1;
  transition: all 0.1s ease-in; }

.zoom-in-leave.zoom-in-leave-active {
  opacity: 0.01; }

.blur-in-enter {
  transition: all .3s ease-in;
  opacity: 0; }

.blur-in-enter.blur-in-enter-active {
  opacity: 0.7; }

.blur-in-leave {
  opacity: 1;
  transition: all 0.1s ease-in; }

.blur-in-leave.blur-in-leave-active {
  opacity: 0.01; }

.fade-in-enter {
  opacity: 0;
  transition: all 2s ease-in; }

.fade-in-enter.fade-in-enter-active {
  opacity: 1; }

.pop-in-enter {
  opacity: 0;
  transition: all 0.2s ease-in;
  max-height: 0;
  overflow: hidden; }

.pop-in-enter.pop-in-enter-active {
  opacity: 1;
  max-height: 1000px; }

.pop-in-leave {
  max-height: 400px;
  transition: all 0.5s ease-in;
  overflow: hidden;
  opacity: 1; }

.pop-in-leave.pop-in-leave-active {
  max-height: 0; }

/*# sourceMappingURL=style.css.map */
